<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.szfission.wear.demo">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION " />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!--读取通话记录的权限-->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>

    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <uses-feature android:name="android.hardware.bluetooth" android:required="true"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <!-- OpenGLES 2.0 -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application
        android:name=".App"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/photo_path" />
        </provider>

        <activity android:name=".activity.LogActivity" />

        <activity android:name=".activity.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.SetUserInfoActivity" />
        <activity android:name=".activity.SetSedentaryReminderActivity" />
        <activity android:name=".activity.AppMessageActivity" />
        <activity
            android:name=".activity.SetHrPercentageActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name=".activity.SetTimeFormatsActivity"
            android:theme="@style/Transparent" />
        <activity android:name=".activity.MeasureHeartRateActivity" />
        <activity android:name=".activity.DeviceScanActivity" />
        <activity android:name=".activity.SetHrlevAlgoParaActivity" />
        <activity android:name=".activity.SetDrinkWaterParaActivity" />
        <activity android:name=".activity.PhoneCallActivity" />
        <activity android:name=".activity.MusicActivity" />
        <activity android:name=".activity.SetWeatherActivity" />
        <activity android:name=".activity.SetHrCheckParaActivity" />
        <activity android:name=".activity.SetLiftWristParaActivity" />
        <activity android:name=".activity.SetTargetParaActivity" />
        <activity android:name=".activity.SetNotDisturbParaActivity" />
        <activity android:name=".activity.SetTimingInfoActivity" />
        <activity android:name=".activity.OTAUpdateActivity" />
        <activity android:name=".activity.SetWeatherDetailActivity" />
        <activity android:name=".activity.SetLcInfoActivity" />
        <activity android:name=".activity.QuickReplyActivity" />
        <activity android:name=".activity.CompressDataActivity" />
        <activity android:name=".activity.PhoneBookActivity" />
        <activity android:name=".activity.OnlineDialPushActivity" />
        <activity android:name=".activity.PushQlzDataActivity" />
        <activity android:name=".activity.PushMoreSportsActivity" />
        <activity android:name=".activity.PushAgpsLocationActivity" />
        <activity android:name=".activity.PushAgpsDataActivity" />
        <activity android:name=".activity.SetSnAndCmeiActivity" />
        <activity android:name=".activity.NotesRemindersActivity" />
        <activity android:name=".activity.HiSiliconTestActivity" />
        <activity android:name=".activity.FileTransferActivity" />
        <activity android:name=".activity.BaiduMapManageActivity" />
        <activity android:name=".activity.PushMoreGpsDataActivity" />
        <activity android:name=".activity.HsCustomDialActivity" />
        <activity android:name=".activity.BaiDuAiTestActivity" />
        <activity android:name=".activity.SetAnyTimesActivity" />
        <activity android:name=".activity.FileListActivity" />
        <activity android:name=".chat.StyledMessagesActivity" />
        <activity android:name=".activity.DefaultDialInfoActivity" />
        <activity android:name=".activity.SetHbParaActivity" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait" />

        <!-- 调整二维码扫描界面为竖屏 -->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity android:name=".activity.ExercisesListActivity" />
        <activity android:name=".activity.SetHrWarnParaActivity" />
        <activity android:name=".activity.CustomDialActivity" />
        <activity android:name=".activity.ExercisesGpsChangeActivity" />
        <activity android:name=".activity.PushSportModeActivity" />
        <activity android:name=".activity.MenstrualPeriodActivity" />
        <activity android:name=".activity.CommunicatGpsActivity" />
        <activity android:name=".activity.WriteFlashDataActivity" />
        <activity android:name=".activity.GetFlashDataActivity" />
        <activity android:name=".activity.NewCustomDialActivity" />
        <activity android:name=".activity.JsiTestActivity" />
        <activity android:name=".activity.OpenAiTestActivity" />
        <activity android:name=".map.BNaviGuideActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".map.WNaviGuideActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>

        <service android:name="com.realsil.sdk.dfu.DfuService"/>

        <receiver
            android:name=".Listener.CustomBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <service android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3Zags80N8pqu0kxMTDokwZhmAhMKKiaD" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="360"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="640"/>


    </application>

</manifest>